<div class="container">
  <div class="d-flex flex-row-reverse justify-content-around">
    <div class="p-2 text-right">
      <button type="button" class="btn btn-info" (click)="openModal(template)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Añadir Usuario
      </button>
    </div>
    <div class="p-2">
      <table class="listado-usuarios">
        <thead>
          <tr>
            <th>Avatar</th>
            <th [class.active]="order === 'id'"
                (click)="setOrder('id')"
                class="pointer" title="Ordenar por Id"
            >
              ID <span [hidden]="reverse">▼</span
              ><span [hidden]="!reverse">▲</span>
            </th>
            <th [class.active]="order === 'first_name'"
                (click)="setOrder('first_name')"
                class="mdl-data-table__cell--non-numeric pointer"
                title="Ordenar por Nombre"
            >
              Nombre <span [hidden]="reverse">▼</span
              ><span [hidden]="!reverse">▲</span>
            </th>
            <th [class.active]="order === 'last_name'"
                (click)="setOrder('last_name')"
                class="mdl-data-table__cell--non-numeric pointer"
                title="Ordenar por Apellidos"
            >
              Apellido <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
            </th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="datos-usuario" *ngFor="let usuario of usuarios | orderBy: order : reverse : 'case-insensitive'">
            <td class="avatar"><img class="avatar" src="{{ usuario.avatar }}" title="{{ usuario.first_name }}" /></td>
            <td class="id">{{ usuario.id }}</td>
            <td class="nombre">{{ usuario.first_name }}</td>
            <td class="apellido">{{ usuario.last_name }}</td>
            <td><a class="btn btn-primary detalles" href="/usuarios/{{ usuario.id }}" title="Detalles del Usuario">Detalles</a></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Añadir Usuario</h4>
        <button type="button" class="close pull-right" aria-label="Cerrar" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form #usuarioForm="ngForm" (ngSubmit)="addUser(usuarioForm)" novalidate>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" required>
        </div>
  
        <div class="form-group">
          <label for="Apellidos">Apellidos</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" name="apellidos" required>
        </div>
  
        <div class="form-group">
          <label for="Avatar">Avatar</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.avatar" name="avatar" required>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="usuarioForm.invalid"> Añadir Usuario </button>
      </form>

      <div class="text-right informacion">El resultado se vera en la consola</div>
    </div>
</ng-template>

<ng-template #addUserInfo>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Resultado de POST</h4>
      <button type="button" class="close pull-right" aria-label="Cerrar" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    {{ postResult }}
  </div>
</ng-template>
